@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Raleway&display=swap");

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Corinthia", cursive;
  font-family: "Raleway", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}
  
/* -----------nav styles------------ */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

.nav__link {
  position: fixed;
  width: 100%;
  top: 6rem;
  /*background-color: rgba(119, 119, 119, 0.568);
  */opacity: 0.9;
  transition: all 0.4s ease-in;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

a:nth-child(1) {
  animation-delay: 0.2s;
}
a:nth-child(2) {
  animation-delay: 0.3s;
}
a:nth-child(3) {
  animation-delay: 0.4s;
}
a:nth-child(4) {
  animation-delay: 0.5s;
}
a:nth-child(5) {
  animation-delay: 0.6s;
}
a:nth-child(6) {
  animation-delay: 0.7s;
}
a:nth-child(7) {
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
 }
  75% {
    opacity: 0.5;
    top: 0px;
 }
  100% {
    opacity: 1;
 }
}

.nav__link a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav__link a:hover::after {
  width: 100%;
}

.hide {
  display: none;
}

#logo {
  border-radius: 50px;
  height: 5.6rem;
  width: 5.6rem;
  object-fit: cover;
  object-position: center;
  padding: 10px;
}

.hamIcon {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

#hamClose {
  display: none;
}

/* --------------- */

/* topscroll */
#top__scroll {
  position: fixed;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 1rem;
  background-color: #777;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px;
  transform: translateX(150%);
  z-index: 999;
  transition: all 0.8s ease-in-out;
  text-decoration: none;
}

#top__scroll i {
transition: 0.5s;
}
#top__scroll:hover i{
transform: rotate(360deg);
}

#top__scroll:hover {
  box-shadow: none;
}
/* ------------------- */


/* crousal */
#crousal {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),    url(../images/cricket/1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

 
/* #slide__img{
  height: 55vh;
  width: 100%;
  transition: all 1s ease-out;
  background-attachment: fixed;
} */
/* ------------------- */

/* main content */
.main {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 5rem 0rem;
}

.main h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.main p {
  color: #777;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 22px;
  padding: 2rem;
}
/* ----------------- */


/* cardSection */
.card__section {
  width: 80%;
  margin: auto;
}

.card-row {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  height: 350px;
  width: 240px;
  background: #fff;
  transition: 0.4s all ease-in-out;
  z-index: 1;
  overflow: hidden;
  box-shadow: 5px 4px 15px rgba(196, 196, 196, .4);
  cursor: pointer; 
  margin: 1rem;
  clip-path: inset(0);
}

.card-image {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  z-index: -1;
  transition: 0.4s all ease-in-out;
}

.card-footer {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-sizing: border-box;
  color: #fff;
}

.card-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: 0.5s;
  width: fit-content;
}

.card-title::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.card-title::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.card-title:hover::after {
  width: 100%;
}
.card-title:hover::before {
  width: 100%;
}

.card:hover {
  width: 260px;
  height: 380px;
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 20px 25px 30px rgba(0, 0, 0, 0.25);
}

.card:hover img{
  transition: all 0.3s;
  transform: scale(1.4);
}

.card:hover .card-image {
  transition: 0.4s all cubic-bezier(0.28, 0.01, 0.3, 1.02) 0.2s;
  height: 100%;
  opacity: 0.3;
}

.card:hover .card-title {
  color: #777;
}
/* ----------------- */


/* footer */
.footer {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

.footer h2 {
  margin-bottom: 1.5rem;
  margin-top: 2.3rem;
  font-size: 2rem;
  font-weight: 600;
}

.footer i {
  color: #777;
  margin: 0 13px;
  cursor: pointer;
  padding: 1.2rem 0;
  font-size: 2rem;
}

/* -------------------- */

@media screen and (min-width: 768px) {
  #hamShow {
    display: none;
  }
  
  #hamClose {
    display: none;
  }

  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  #slide__img{
    height: 100vh;
    width: 100%;
    transition: all 1s ease-out;
  }
}

@media (max-width: 786px) {
  .card-row {
    flex-direction: column;
  }

  .card {
    margin: 1rem auto;
  }

  .card:hover {
    margin: auto;
  }
}
