@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Raleway&display=swap");

*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Corinthia", cursive;
  font-family: "Raleway", sans-serif;
  background: #000000;  /* fallback for old browsers */
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

::-webkit-scrollbar {
  width: 12px;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

/* -----------nav styles------------ */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  z-index: 999;
  transition: all 0.4s ease-in-out;
}

.nav__link {
  position: fixed;
  width: 100%;
  top: 6rem;
  opacity: 0.9;
  transition: all 0.4s ease-in;
}


.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

a:nth-child(1) {
  animation-delay: 0.2s;
}
a:nth-child(2) {
  animation-delay: 0.3s;
}
a:nth-child(3) {
  animation-delay: 0.4s;
}
a:nth-child(4) {
  animation-delay: 0.5s;
}
a:nth-child(5) {
  animation-delay: 0.6s;
}
a:nth-child(6) {
  animation-delay: 0.7s;
}
a:nth-child(7) {
  animation-delay: 0.8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
 }
  75% {
    opacity: 0.5;
    top: 0px;
 }
  100% {
    opacity: 1;
 }
}

.nav__link a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav__link a:hover::after {
  width: 100%;
}

.hide {
  display: none;
}

#logo {
  border-radius: 50px;
  height: 5.6rem;
  width: 5.6rem;
  object-fit: cover;
  object-position: center;
  padding: 10px;
}

.hamIcon {
  color: white;
  display: block;
  font-size: 1.5rem;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

#hamClose {
  display: none;
}


@media screen and (min-width: 768px) {
  #hamShow {
    display: none;
  }
  
  #hamClose {
    display: none;
  }
  
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  #slide__img{
    height: 100vh;
    width: 100%;
    transition: all 1s ease-out;
  }
}
/* --------------- */

/* topscroll */
#top__scroll {
  position: fixed;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 1rem;
  background-color: #777;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px;
  transform: translateX(150%);
  z-index: 999;
  transition: all 0.8s ease-in-out;
  text-decoration: none;
}

#top__scroll i {
transition: 0.5s;
}
#top__scroll:hover i{
transform: rotate(360deg);
}

#top__scroll:hover {
  box-shadow: none;
}
/* ------------------- */


/* header */
header {
	text-align: center;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
  border: 2px solid red;
  clip-path: inset(0);
}

header video {
  position: fixed;
  top: 0;
  left: 0;
}

header .overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px rgb(39, 39, 39);
}

h1 {
  margin-top: 7rem;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	margin-bottom: 30px;
  font-size: 1.3rem;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

/* hero styling*/
.hero {
  /* border: 2px solid red; */
  background-image: linear-gradient(rgba(4, 9, 30, 0.089), rgba(4, 9, 30, 0.171)),
  url(../images/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-top: 5rem;
  width: 100%;
  height: 100rem;
}

.hero img {
  height: 100%;
  width: 100%;
}

.hero__text {
  position: absolute;
  /* border: 4px solid blue; */
  font-size: 2rem;
  padding: 5rem;
  color: white;
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* navbar2 styling */
.nav2__container {
  /* border: 2px solid red; */
  background-color: #4e4b4b;
  overflow: hidden;
  height:120px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav2 {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width:90%;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.nav2 a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: #c0bfbf;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

.nav2 a:before,
.nav2 a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

.nav2 a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

.nav2 a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

.nav2 a:nth-child(1):before {
  background-color: yellow;
}

.nav2 a:nth-child(1):after {
  background-color: red;
}

.nav2 a:nth-child(2):before {
  background-color: #00e2ff;
}

.nav2 a:nth-child(2):after {
  background-color: #89ff00;
}

.nav2 a:nth-child(3):before {
  background-color: purple;
}

.nav2 a:nth-child(3):after {
  background-color: palevioletred;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

.nav2 a:hover {
  color: #fff;
}

.nav2 a:hover:before,
.nav2 a:hover:after {
  transform: scale(1);
}

.nav2 a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, yellow, red);
}

.nav2 a:nth-child(2):hover ~ #indicator {
  left: 34%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

.nav2 a:nth-child(3):hover ~ #indicator {
  left: 70%;
  background: linear-gradient(130deg, purple, palevioletred);
}

/* main */
.main {
  /* border: 2px solid orange; */
  width: 90%;
  margin: auto;
}
.main h2 {
  font-size: 3.5rem;
  color: white;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.main__card {
  border: 2px solid rgb(9, 255, 0);
  height: 300px;
  width: 70%;
  margin: 2rem;
  border-radius: 50px;
  /*glassmorphism*/background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* table */
table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin: auto;
}
th, td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #55608f;
}
tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}
